html {
    min-height: 100vh;
    background-image: linear-gradient(115deg, #23345f, #030619);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* GLOBAL */
.no_image_holder {
    position: relative;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    background-color: #dbdbdb;
}
* {
    box-sizing: border-box;
}
*:not(input):not(button) {
    color: #ffffff;
}
a {
    text-decoration: none;
}

/* HOME */
#homeContainer {
    max-width: 1020px;
    margin: 0 auto;
}
#homeContainer .homeOnAir {
    display: flex;
    justify-content: center;
}
#homeContainer .onTv {
    margin-right: 20px;
}

#homeContainer .onTv .onTvContainer,
#homeContainer .inTheaters .inTheatersContainer {
    max-width: 500px;
    width: 100%;
}
#homeContainer .onTv .onTvContainer .highlightedSerie,
#homeContainer .inTheaters .inTheatersContainer .highlightedMovie,
#homeContainer .upComing .upComingContainer .highlightedUpComing {
    position: relative;
    margin-bottom: 5px;
}
#homeContainer .onTv .onTvContainer .highlightedSerie,
#homeContainer .inTheaters .inTheatersContainer .highlightedMovie {
    width: 500px;
    height: 282px;
}
#homeContainer .onTv .onTvContainer .listSerie,
#homeContainer .inTheaters .inTheatersContainer .listMovie,
#homeContainer .upComing .upComingContainer .listUpComing {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 141px;
    margin-top: -5px;
}
#homeContainer .onTv .onTvContainer .bannerTv,
#homeContainer .inTheaters .inTheatersContainer .bannerTheather,
#homeContainer .upComing .upComingContainer .bannerUpComing {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
}
#homeContainer .onTv .onTvContainer .bannerTv h3,
#homeContainer .inTheaters .inTheatersContainer .bannerTheather h3,
#homeContainer .upComing .upComingContainer .bannerUpComing h3 {
    font-size: 16px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
#homeContainer .onTv .onTvContainer .bannerTv img,
#homeContainer .inTheaters .inTheatersContainer .bannerTheather img,
#homeContainer .upComing .upComingContainer .bannerUpComing img {
    margin-right: 15px;
}
#homeContainer .onTv .onTvContainer .bannerTv span,
#homeContainer .inTheaters .inTheatersContainer .bannerTheather span,
#homeContainer .upComing .upComingContainer .bannerUpComing span {
    display: inline-block;
    font-size: 0.8em;
}
#homeContainer .upComing .upComingContainer .listUpComing .no_image_holder {
    height: 141px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
#homeContainer .inTheaters .inTheatersContainer .bannerTheather > div,
#homeContainer .upComing .upComingContainer .bannerUpComing > div {
    width: 100%;
}
#homeContainer .inTheaters .inTheatersContainer .bannerTheather .homeListCast {
    overflow: hidden;
    text-overflow: ellipsis;
}
#homeContainer .inTheaters .inTheatersContainer .bannerTheather span {
    margin-right: 4px;
}

#homeContainer .no_image_holder {
    margin: 0 auto;
}

#homeContainer .upComingContainer {
    max-width: 100%;
    width: 100%;
}
#homeContainer .upComing .upComingContainer .highlightedUpComing {
    overflow: hidden;
    width: 100%;
    height: 335px;
}
#homeContainer .upComing .upComingContainer .highlightedUpComing img {
    width: 100%;
}
#homeContainer .upComing .upComingContainer .listUpComing {
    width: 25%;
}
#homeContainer .upComing .upComingContainer .listUpComing img {
    width: 100%;
}
#homeContainer .upComing .upComingContainer .bannerUpComing {
    bottom: -2px;
}

/* STYLES */

.listData .no_image_holder,
.displayMovie .no_image_holder {
    width: 300px;
    height: 400px;
}
.listActors .no_image_holder {
    width: 185px;
    height: 277px;
}
.no_image_holder:before {
    content: url(assets/image-solid.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
}
nav .returnHome a {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
}
nav .returnHome img {
    margin: 0 13.5px 0 23.5px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}
nav .nav_link a {
    display: inline-block;
    vertical-align: middle;
    margin: 30px 10px;
    font-weight: 300;
    color: #d1d1d1;
    font-size: 18px;
}
nav .nav_link a.active {
    border-bottom: 2px solid #5967a5;
}
nav .nav_link a.navSearch {
    margin-right: 50px;
}
nav .nav_link a.navSearch img {
    width: 15px;
}
/* Search */

#searchForm {
    text-align: center;
}
#searchForm input[type="text"] {
    font: inherit;
    border: 0;
    height: 1.1875em;
    padding: 6px 0 7px;
    margin: 0 10px 20px;
    color: #fff;
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.42);
}
#searchForm input[type="text"]:focus {
    outline: 0;
}

#searchForm input[type="submit"] {
    color: #fff;
    background-color: #22345e;
    border: none;
    padding: 10px 20px;
}
.listData {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}
.listData > div {
    margin: 0 20px;
    max-width: 300px;
    text-align: center;
}
.listData div img {
    width: 300px;
    height: 400px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    list-style: none;
}
.pagination li {
    cursor: pointer;
    margin-right: 20px;
}
.pagination li.selected,
.pagination li.disabled {
    cursor: default;
}
.pagination li.selected {
    border: 1px solid #fff;
    padding: 0 5px;
}
.pagination a {
    outline: 0;
}
/*MOVIES & TV & DISCOVER & PEOPLE PAGE*/
.displayMovies,
.displayTv,
.displayDiscover,
.displayPeople {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.displayMovies form,
.displayTv form,
.displayDiscover form {
    text-align: right;
}
.displayMovies form select,
.displayMovies form select option,
.displayTv form select,
.displayTv form select option,
.displayDiscover form select,
.displayDiscover form select option {
    font-size: 1em;
}
.displayMovies form select,
.displayTv form select,
.displayDiscover form select {
    text-align: right;
    background: transparent;
    border: 1px solid #a7a5a5;
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
}
.displayMovies form select option,
.displayTv form select option,
.displayDiscover form select option {
    color: #000000;
}

.displayMovies .listMovies,
.displayTv .listTv,
.displayDiscover .listDiscover,
.displayPeople .listPeople {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 25px;
}
.displayMovies .listMovies > div,
.displayTv .listTv > div,
.displayDiscover .listDiscover > div {
    position: relative;
    flex: 0 0 49%;
    max-height: 282px;
    margin-bottom: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.displayMovies .listMovies div img,
.displayTv .listTv div img,
.displayDiscover .listDiscover div img {
    width: 500px;
    height: 282px;
}
.displayMovies .listMovies div .container,
.displayTv .listTv div .container,
.displayDiscover .listDiscover div .container,
.displayPeople .listPeople div .container {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 15px;
    background: rgba(255, 255, 255, 0.8);
}
.displayMovies .listMovies div .container *,
.displayTv .listTv div .container *,
.displayDiscover .listDiscover div .container *,
.displayPeople .listPeople div .container * {
    color: #000000;
}
.displayMovies .listMovies div .container p,
.displayTv .listTv div .container p,
.displayDiscover .listDiscover div .container p {
    margin: 0 0 0 20px;
}
.displayMovies .listMovies div .container p:not(.releaseDate),
.displayTv .listTv div .container p:not(.releaseDate),
.displayDiscover .listDiscover div .container p:not(.releaseDate),
.displayPeople .listPeople div .container p.name {
    width: 100%;
    display: block;
    font-weight: 600;
    font-size: 1.1em;
    line-height: normal;
}
.displayMovies .listMovies div .container p.releaseDate,
.displayTv .listTv div .container p.releaseDate,
.displayDiscover .listDiscover div .container p.releaseDate {
    color: rgba(0, 0, 0, 0.6);
}
.displayMovies .no_image_holder,
.displayTv .no_image_holder,
.displayDiscover .no_image_holder {
    width: 490px;
    height: 280px;
    border-radius: 0;
}
/* Discover */
.displayDiscover .selectType a {
    margin-right: 15px;
    font-size: 1.5em;
}
.displayDiscover .selectType a.active {
    border-bottom: 1px solid #fff;
}

.displayDiscover form {
    display: flex;
    margin-top: 20px;
}
.displayDiscover form select,
.displayDiscover form .selectByGenre {
    display: flex;
    margin-top: 20px;
    margin-right: 30px;
}
.displayDiscover form select#selectSortBy,
.displayDiscover form .selectByGenre {
    flex: 0 0 30%;
}
.displayDiscover form .react-select__control {
    background: transparent;
    width: 100%;
}
.displayDiscover form .react-select__placeholder {
    color: #fff;
}
.displayDiscover form .css-1rhbuit-multiValue {
    color: #fff;
}
.displayDiscover form .css-1rhbuit-multiValue .react-select__multi-value__label,
.displayDiscover form .react-select__menu * {
    color: #000;
}
.displayDiscover form .react-select__multi-value__remove svg {
    fill: #000;
}
.displayDiscover form .react-select__menu * {
    text-align: left;
}

/* PEOPLE */
.displayPeople .no_image_holder {
    width: 235px;
    height: 235px;
}
.displayPeople .listPeople > div {
    position: relative;
    flex: 0 0 23%;
    max-height: 235px;
    margin-bottom: 30px;
}
.displayPeople .listPeople > div .dataPeople {
    width: 100%;
}
.displayPeople .listPeople > div .dataPeople p,
.displayPeople .listPeople > div .dataPeople span {
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    width: 100%;
    line-height: 1.2em;
    margin: 0;
    display: block;
}

/* SINGLE MOVIE DETAILS */
.displayMovie {
    max-width: 1400px;
    margin: 50px auto;
}
.displayMovie .container {
    display: flex;
    align-items: flex-start;
}
.displayMovie .poster {
    margin-right: 50px;
    border-radius: 8px;
    box-shadow: 0 3px 17px 0 rgba(69, 84, 181, 0.8);
}
.displayMovie .wrapperInfoMovie {
    flex: 0 0 60%;
    margin-right: 50px;
}

.displayMovie .wrapperInfoMovie h1,
.displayMovie .additionalInfo > h4 {
    margin-top: 0;
}
.displayMovie .wrapperInfoMovie #review .teaser a {
    color: #ffe7ab;
}
.displayMovie .wrapperInfoMovie #review .teaser {
    box-shadow: 0 3px 17px 0 rgba(69, 84, 181, 0.8);
    margin: 30px 0;
    padding: 30px;
}
.displayMovie .wrapperInfoMovie #review .teaser h3 {
    margin-top: 0;
}

.displayMovie .wrapperInfoMovie #review .teaser .reviewName {
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 1.3em;
    font-weight: 700;
}
.displayMovie .wrapperInfoMovie #recommendation .recommendationWrapper {
    display: flex;
    overflow-x: scroll;
    max-width: 840px;
    width: 100%;
}
.displayMovie .wrapperInfoMovie #recommendation .recommendationWrapper > div {
    max-width: 250px;
    margin-right: 20px;
}
.displayMovie .wrapperInfoMovie #recommendation .recommendationWrapper > div:last-of-type {
    padding-right: 40px;
}
.displayMovie .wrapperInfoMovie #recommendation .recommendationWrapper > div img {
    border-radius: 4px;
}
.displayMovie .wrapperInfoMovie #recommendation .recommendationWrapper > div .no_image_holder {
    width: 250px;
    height: 141px;
}
.displayMovie .wrapperInfoMovie #recommendation .recommendationWrapper > div .img_content {
    display: block;
    position: relative;
}
.displayMovie .wrapperInfoMovie #recommendation .recommendationWrapper > div .img_content .meta {
    opacity: 0;
    position: absolute;
    bottom: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    left: 0;
    width: 100%;
    padding: 5px 0;
    transition: 0.3s;
}
.displayMovie .wrapperInfoMovie #recommendation .recommendationWrapper > div .img_content .meta .release_date {
    color: #000;
    margin-left: 5px;
}

.displayMovie .wrapperInfoMovie #recommendation .recommendationWrapper > div .img_content:hover .meta {
    opacity: 1;
}

.displayMovie .wrapperInfoMovie #recommendation .recommendationWrapper > div .recommendationInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px;
}
.displayMovie .wrapperInfoMovie #recommendation .recommendationWrapper > div .recommendationInfo a {
    display: inline-block;
    width: 80%;
}
.displayMovie .wrapperInfoMovie #recommendation .recommendationWrapper > div .recommendationInfo a p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.displayMovie .wrapperInfoMovie #recommendation .recommendationWrapper > div .recommendationInfo .rating img,
.displayMovie .wrapperInfoMovie #recommendation .recommendationWrapper > div .img_content .meta img {
    width: 15px;
    vertical-align: middle;
}
.displayMovie .wrapperInfoMovie #recommendation .recommendationWrapper > div .recommendationInfo .rating img {
    margin-top: -5px;
    margin-left: 5px;
}
.displayMovie .wrapperInfoMovie #recommendation .recommendationWrapper > div .img_content .meta img {
    margin-left: 10px;
    margin-top: -2px;
}

.displayMovie .additionalInfo strong {
    display: block;
    padding-bottom: 6px;
    font-weight: 600;
}
.displayMovie .additionalInfo section.genres,
.displayMovie .additionalInfo section.keywords {
    max-width: 180px;
}
.displayMovie .additionalInfo section.genres ul,
.displayMovie .additionalInfo section.keywords ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    line-height: 1.4em;
    padding-left: 0;
}
.displayMovie .additionalInfo section.genres ul li,
.displayMovie .additionalInfo section.keywords ul li {
    margin-right: 5px;
    margin-bottom: 10px;
    line-height: 24px;
    font-size: 0.8em;
    white-space: nowrap;
}
.displayMovie .additionalInfo section.genres ul li a,
.displayMovie .additionalInfo section.keywords ul li a {
    background-color: #fff;
    border: 1px solid #d7d7d7;
    color: #000;
    padding: 4px 10px;
    border-radius: 4px;
}
.displayMovie .additionalInfo section.genres h4,
.displayMovie .additionalInfo section.keywords h4 {
    margin-bottom: 0px;
}
.displayMovie .additionalInfo section.genres p,
.displayMovie .additionalInfo section.keywords p {
    margin-top: 10px;
}
.displayMovie .additionalInfo section.genres ul li a {
    text-transform: uppercase;
}
.moreInfos {
    display: flex;
    align-items: center;
}
.moreInfos .rating {
    max-width: 60px;
}
.moreInfos .ratingText {
    font-size: 1.4em;
    margin: 0;
}
.moreInfos .ratingText sup {
    font-size: 0.5em;
    margin-left: -5px;
}

.moreInfos .video .trailer {
    height: 24px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin-left: 20px;
    color: #0f1834;
    font-size: 12px;
    background-color: #ffffff;
    cursor: pointer;
}
.moreInfos .video .playTrailer {
    vertical-align: text-top;
    margin-right: 10px;
}
.wrapperInfoMovie .synopsis {
    width: 80%;
}
.listCrew {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    margin-top: 0;
    justify-content: flex-start;
    flex-wrap: wrap;
    display: flex;
}
.listCrew li {
    background-color: transparent;
    height: auto;
    width: 33%;
    flex-basis: 33%;
    text-align: left;
    margin-bottom: 14px;
    margin-right: 0;
    padding-right: 20px;
}
.listCrew p.crewName {
    font-size: 1em;
    line-height: 1.4em;
    margin: 0;
    overflow: hidden;
    font-weight: bold;
    text-overflow: ellipsis;
    padding: 0;
}
.listCrew p.crewJob {
    font-size: 0.9em;
    margin: 0;
}
.listActors {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.listActors .castImg,
.listActors .no_image_holder {
    width: 90px;
    height: 135px;
    margin-top: 8px;
    margin-right: 20px;
    border-radius: 4px;
    box-shadow: 0 3px 17px 0 rgba(69, 84, 181, 0.8);
}
.listActors .actorName {
    display: none;
}

.reviewsContainer {
    max-width: 1000px;
    margin: 0 auto;
}
.reviewsContainer .infoMovies {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
}
.reviewsContainer .infoMovies img {
    margin-right: 30px;
    width: 70px;
}
.reviewsContainer .infoMovies h2 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.9em;
}
.reviewsContainer .infoMovies span {
    display: block;
    margin-bottom: 10px;
    opacity: 0.6;
    font-size: 0.6em;
    font-weight: 400;
}
.reviewsContainer .listReviews a {
    color: #ffe7ab;
}
.reviewsContainer .listReviews > div {
    box-shadow: 0 3px 17px 0 rgba(69, 84, 181, 0.8);
    margin: 35px 0;
    padding: 10px 30px;
}

/* MODAL VIDEO */
@keyframes modal-video {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes modal-video-inner {
    from {
        transform: translate(0, 100px);
    }
    to {
        transform: translate(0, 0);
    }
}

.modal-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000000;
    cursor: pointer;
    opacity: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    animation-name: modal-video;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

.modal-video-effect-exit {
    opacity: 0;
}

.modal-video-effect-exit .modal-video-movie-wrap {
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    -ms-transform: translate(0, 100px);
    -o-transform: translate(0, 100px);
    transform: translate(0, 100px);
}

.modal-video-body {
    max-width: 940px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: table;
}

.modal-video-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.modal-video-movie-wrap {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
    background-color: #333;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    animation-name: modal-video-inner;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -ms-transition: -ms-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.modal-video-movie-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-video-close-btn {
    position: absolute;
    z-index: 2;
    top: -35px;
    right: -35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border: none;
    background: transparent;
}

.modal-video-close-btn:before {
    transform: rotate(45deg);
}

.modal-video-close-btn:after {
    transform: rotate(-45deg);
}

.modal-video-close-btn:before,
.modal-video-close-btn:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff;
    border-radius: 5px;
    margin-top: -6px;
}
